@import "prism-theme-vars/base.css";
@import "codemirror-theme-vars/base.css";
@import "prism-theme-vars/to-codemirror.css";

:root {
  --slidev-code-font-family: monospace;
  --prism-background: #2a2139; /* Synthwave background */
  --slidev-theme-primary: #eee;
  --slidev-code-margin: 16px 0px;
}

.slidev-layout table {
  @apply table-fixed;

  td {
    @apply align-top;
  }

  .slidev-vclick-hidden {
    @apply border-transparent;
  }
}

.code-sm {
  --slidev-code-font-size: 8px;
  --slidev-code-line-height: 12px;
}

.foreground {
  fill: currentColor;
}
